<% if flash[:notice] %>

<p class="notice mx-auto d-block w-25 alert alert-success" role="alert"><%= notice %></p>
<% end%>
<% if flash[:alert] %>
<p class="alert mx-auto d-block w-25 alert-danger" role="alert"><%= alert %></p>
<% end%>

