  <% @posts.each do |post| %>

  <div class="list-group d-flex border border-secondary p-4 m-2">
    <p class="mb-1 fs-5"><%= post.body %></p>
    <p class="align-self-end">   <%= author_name(post) %></p>

  </div>
  <% end %> 